<!doctype html>
<html lang="en">
  <head>
    <title>{{ .title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h2 class="text-center mt-2 mb-10">Hey, {{ .user }}</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga consectetur
      doloremque magnam soluta quo id. Laborum, magni ullam quos qui temporibus
      sunt tempore illo accusamus recusandae ea nihil numquam fugiat?
    </p>
  </body>
</html>
